.k{
  font-size: inherit;
  color: inherit;
}
ul,li{
  padding: 0;
  margin: 0;
  list-style: none;
}
button::-moz-focus-inner {
  border:0;
  padding:0;
}
.k-absolute-menu{
  position: absolute;
  z-index: 1;
}
/*public*/
.k-radius{
  border-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/*button*/
.k-button{
  background: none;
  border: 1px solid transparent;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: border-color .2s ease, color .2s ease;
}
.k-button:hover{
  z-index: 99;
}
.k-button i:last-child{
  margin-left: 6px;
}
.k-button i:first-child{
  margin-right: 6px;
}
.k-button span{
  line-height: 0px;
}
.k-button-default{
  background: #fff;
  color: #666;
  border-color: #ccc;
}
.k-button-default:hover{
  border-color: #20a0ff;
  color: #20a0ff;
}
.k-button-default:active{
  border-color: #3879D9;
  color: #3879D9;
}
.k-button-text{
  background: transparent;
  color: #20a0ff;
  border-color: transparent;
}
.k-button-text:hover{
  color: #4db3ff;
}
.k-button-text:active{
  color: #3879D9;
}
.k-button-primary{
  background: #20a0ff;
  color: #fff;
  border-color: #20a0ff;
}
.k-button-primary:hover{
  border-color: #4db3ff;
  background: #4db3ff;
  color: #fff;
}
.k-button-primary:active{
  border-color: #3879D9;
  background: #3879D9;
  color: #fff;
}
.k-button-success {
  border-color: #13ce66;
  background: #13ce66;
  color: #fff;
}
.k-button-success:hover {
  background: #42d885;
  border-color: #42d885;
}
.k-button-success:active {
  background: #42AE77;
  border-color: #42AE77;
}
.k-button-warning {
  border-color: #f7ba2a;
  background: #f7ba2a;
  color: #fff;
}
.k-button-warning:hover {
  background: #f9c885;
  border-color: #f9c885;
}
.k-button-warning:active {
  background: #FF9900;
  border-color: #FF9900;
}
.k-button-danger {
  border-color: #ff4949;
  background: #ff4949;
  color: #fff;
}
.k-button-danger:hover {
  background: #ff6d6d;
  border-color: #ff6d6d;
}
.k-button-danger:active {
  background: #cc3333;
  border-color: #cc3333;
}
.k-button-info {
  border-color: #50bfff;
  background: #50bfff;
  color: #fff;
}
.k-button-info:hover {
  background: #73ccff;
  border-color: #73ccff;
}
.k-button-info:active {
  background: #20a0ff;
  border-color: #20a0ff;
}
.k-button-disable{
  cursor: not-allowed;
  color: #aaa;
  border-color: #d3dce6;
  background: #eee;
}
.k-button-disable:hover{
  cursor: not-allowed;
  color: #aaa;
  border-color: #d3dce6;
  background: #eee;
}
.k-button-disable:active{
  cursor: not-allowed;
  color: #aaa;
  border-color: #d3dce6;
  background: #eee;
}
.k-button-size-mini{
  padding: 2px 4px;
}
.k-button-size-small{
  padding: 3px 8px;
}
.k-button-size-normal{
  padding: 5px 12px;
}
.k-button-size-large{
  padding: 6px 16px;
}
/*pageination*/
.k-page-wrap{
  text-align: center;
  display: inline-block;
  border: 1px solid #ccc;
  overflow: hidden;
}
.k-page-wrap li {
  border-right: 1px solid #ccc;
}
.k-page-wrap li:last-child{
  border-right: none;
}
.k-page-wrap-default{
  border-radius: 4px;
  color: #666;
  background: #fff;
}
.k-page-wrap-default .k-page-each-a-active{
  color: #3384FE;
  cursor: not-allowed;
}
.k-page-wrap-default .k-page-each-a-enable:hover {
  color: #20a0ff;
}
.k-page-each{
  display: inline-block;
  vertical-align: top;
  list-style: none;
}
.k-page-each-a{
  display: block;
  color: inherit;
}
.k-page-size-normal{
  padding: 6px 10px;
}
.k-page-size-small{
  padding: 4px 8px;
}
.k-page-each-a-enable {
  cursor: pointer;
  transition: all .3s;
}
.k-page-each-a-disable {
  color: #bbb;
  cursor: not-allowed;
}

/*notification*/
.k-notification{
  position: relative;
  font-size: 14px;
  margin-top: 16px;
  width: 360px;
  height: auto;
  border-radius: 3px;
  border: 1px solid #c0ccda;
  right: 4px;
  padding: 12px 20px 12px 10px;
  color: #666;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 8px rgba(0,0,0,.2);
  box-shadow: 0 2px 8px rgba(0,0,0,.2);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.k-notification-wrap{
  position: fixed;
  right: 0;
  top: 60px;
}
.k-notification-default {
  background: #fff;
  color: #888;
  border: 1px solid #d9d9d9;
}
.k-notification p{
  color: inherit;
}
.k-notification-title{
  color: inherit;
}
.k-notification-left{
  width: 72px;
  margin-top: 16px;
  height: 100%;
  text-align: center;
}
.k-notification-left i{
  font-size: 32px;
  display: inline-block;
}
.k-notification-right{
  width: 248px;
}
.k-notification-right h3{
  padding-top: 6px;
  margin: 0;
}
.k-notification-right i{
  float: right;
  cursor: pointer;
}
.k-notification-right p{
  margin: 0;
  padding: 10px 0;
}
.k-notification-left, .k-notification-right{
  float: left;
}
.k-notification-success {
  background: #dff0d8;
  color: #3c763d;
  border: 1px solid #d6e9c6;
}
.k-notification-info {
  color: #31708f;
  background: #d9edf7;
  border: 1px solid #bce8f1;
}
.k-notification-error {
  color: #a94442;
  background: #f2dede;
  border: 1px solid #ebccd1;
}
.k-notification-warning {
  color: #8a6d3b;
  background: #fcf8e3;
  border:1px solid #faebcc;
}
.k-notification-fade-enter-active{
  transition: all .3s ease;
}
.k-notification-fade-leave-active{
  transition: all .35s ease-out;
}
.k-notification-fade-enter{
  opacity: 0;
  height: 0;
  right: -360px;
}
.k-notification-fade-leave-active{
  opacity: 0;
  height: 0;
  padding: 0;
  border: none;
  right: -360px;
}
/*dialog*/
@keyframes dialogIn {
  0%{
    top: 35px;
    opacity: 0;
  }
  100%{
    top: 50px;
    opacity: 1;
  }
}
@-webkitkeyframes dialogIn {
  0%{
    top: 35px;
    opacity: 0;
  }
  100%{
    top: 50px;
    opacity: 1;
  }
}
@-mozkeyframes dialogIn {
  0%{
    top: 35px;
    opacity: 0;
  }
  100%{
    top: 50px;
    opacity: 1;
  }
}
@keyframes dialogOut {
  0%{
    top: 50px;
    opacity: 1;
  }
  100%{
    top: 35px;
    opacity: 0;
  }
}
@-webkitkeyframes dialogOut {
  0%{
    top: 50px;
    opacity: 1;
  }
  100%{
    top: 35px;
    opacity: 0;
  }
}
@-mozkeyframes dialogOut {
  0%{
    top: 50px;
    opacity: 1;
  }
  100%{
    top: 35px;
    opacity: 0;
  }
}
.k-mask-dialog{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 99;
}
.k-mask-dialog-bk{
  position: absolute;
  width: inherit;
  height: inherit;
  background: rgba(0, 0, 0, 0.6);
  top: 0
}
.k-dialog-container{
  top: 35px;
  opacity: 0;
  position: relative;
  display: inline-block;
  background: #fff;
  border-radius: 2px;
  padding: 20px 16px;
  width: 400px;
  animation: dialogIn .3s ease forwards;
  -moz-animation: dialogIn .3s ease forwards;
  -webkit-animation: dialogIn .3s ease forwards;
}
.k-dialog-button{
  padding-top: 10px;
}
.k-dialog-container h1 {
  font-size: 16px;
  padding: 0;
  padding-left: 10px;
  margin: 0;
  text-align: initial;
  color: #333;
}
.k-dialog-container i{
  color: #666;
  float:right;
  margin-right:10px;
  font-size:14px;
  cursor:pointer;
}
.k-dialog-container i:hover {
  color: #888;
}
.k-dialog-container i:active{
  color: #333;
}
.k-dialog-container p {
  color: #555;
  text-align: initial;
  padding: 0;
  margin: 0;
  font-size: 14px;
  text-indent: 2em;
  padding: 22px 0 16px;
}
.k-dialog-container div {
  float: right;
}
.k-dialog-button div {
  width: 54px;
}
/*input*/
.k-input{
  color: #666;
  display: inline-table;
  position: relative;
  background: #fff;
  line-height: 26px;
}
.k-input .k-input-btn{
  display: inline-block;
  position: relative;
  height: 100%;
  height: 26px;
  line-height: 26px;
  padding: 0 12px;
  background: #f0f0f0;
}
.k-input-btn-click{
  cursor: pointer;
  transition: all .2s ease;
}
.k-input-btn-click:hover{
  background: #e0e0e0;
}
.k-input-btn-click:active{
  background: #d5d5d5;
}
.k-input .k-input-btn:first-child{
  border-right: 1px solid #ccc;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.k-input .k-input-btn:last-child{
  border-left: 1px solid #ccc;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.k-input input{
  border: none;
  outline: none;
  color: #888;
  padding: 0px 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.k-input-default{
  border: 1px solid #ccc;
  transition: border-color .2s ease;
}
.k-input-btn-select{
  margin-left: 15.31px;
}
.k-input-btn-select-ab{
  position: absolute;
  border: 1px solid #ccc;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #fff;
  margin-top: 2px;
  -webkit-box-shadow: 0 2px 12px rgba(0,0,0,.175);
  box-shadow: 0 2px 12px rgba(0,0,0,.175);
  z-index: 9999;
}
.k-input-btn-select-ab li{
  padding: 0 12px;
  transition: all .2s ease;
}
.k-input-btn-select-ab li:hover{
  background: #eee;
}
.k-input-btn-select-click p{
  padding: 0px 12px;
  margin: 0;
}
/*.k-input-default:hover{
  border-color: #20a0ff;
}*/

/*select*/
.k-select{
  border: 1px solid #ccc;
  color: #666;
  background: #fff;
  display: inline-block;
  position: relative;
  transition: border-color .2s ease;
  cursor: pointer;
  vertical-align: top;
}
.k-select p{
  padding: 4.5px 12px;
  margin: 0;
}
.k-select:hover{
  border-color: #20a0ff;
}
.k-select-btn{
  margin-left: 20px;
}
.k-select-menu{
  position: absolute;
  max-height: 150px;
  min-width: 100%;
  overflow-y: auto;
  overflow-x: inherit;
  margin-top: 2px;
  border: 1px solid #ccc;
  background: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: 0 2px 12px rgba(0,0,0,.175);
  box-shadow: 0 2px 12px rgba(0,0,0,.175);
  z-index: 9999;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.k-select-menu li{
  padding: 5px 20px 5px 12px;
}
.k-select-menu li:hover{
  background: #f0f0f0;
}
.k-select input{
  border: none;
  outline: none;
  color: #666;
  position: relative;
}
.k-select-checkbox{
  display: inline-block;
  vertical-align: top;
  width: 14px;
  height: 14px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin-top: 1px;
  border-radius: 2px;
  line-height: 0px;
}
.k-select-checkbox i{
  font-size: 10px;
}
.k-select-active{
  font-weight: bold;
}
.k-select-btn-click{
  transition: transform .15s ease-out;
}
/*nav*/
.k-nav{
  width: 100%;
  transition: background-color .15s ease-in;
}
.k-nav label {
  display:inline-block;
  vertical-align:middle;
}
.k-nav label *{
  display: inline-block;
  vertical-align: middle;
}
.k-nav .k-nav-current{
  color: inherit;
  border-color: inherit;
  background-color: inherit;
}
.k-nav-dark .k-nav-current{
  border-color: inherit;
}
.k-nav ul,li{
  padding: 0;
  margin: 0;
  list-style: none;
}
.k-nav li{
  height: 47px;
  float: left;
  line-height: 47px;
  padding: 0 20px;
  font-size: 16px;
  transition: border-color .25s ease, color .25s ease;
  cursor: pointer;
}
.k-nav-default li{
  color: #666;
}
.k-nav-dark li{
  color: #ddd;
}
.k-nav ul{
  border-color: inherit;
  background-color: inherit;
  width: auto;height: 0px;
}
.k-nav-fixed-top li{
  border-bottom: 1px solid transparent;
}
.k-nav-normal li{
  border-bottom: 1px solid transparent;
}
.k-nav-fixed-bottom li{
  margin-top: -1px;
  border-top: 1px solid transparent;
}
.k-nav li:hover{
  border-color: inherit;
  color: inherit;
  background-color: inherit;
}
.k-nav img{
  vertical-align: middle;
  display: inline-block;
}
.k-nav .k-input{
  display: inline-block;
  vertical-align: middle;
}
.k-nav-fixed-top{
  position: fixed;
  top: 0;
  z-index: 99;
  left: 0;
}
.k-nav-fixed-bottom{
  position: fixed;
  bottom: 0;
  z-index: 99;
  left: 0;
}
.k-nav-fixed-top .k-nav-container{
  border-bottom: 1px solid transparent;
  border-color: inherit;
}
.k-nav-fixed-bottom .k-nav-container{
  border-top: 1px solid transparent;
  border-color: inherit;
}
.k-nav-normal .k-nav-container{
  border: 1px solid transparent;
  height: 49px;
  border-color: inherit;
}
.k-nav-normal {
  border-radius: 4px;
}
.k-nav-container{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 20px;
  border-radius: inherit;
  width: 100%;
  line-height: 0;
  height: 48px;
  position: relative;
}
.k-nav-left, .k-nav-right{
  position: absolute;
  line-height: 47px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.k-nav-right{
  right: 20px;
}
/*tree*/
.k-tree{
  display: block;
  width: 100%;
}
.k-tree li{
  padding: 0 1em;
}
.k-tree-each{
  padding: 6px 0 6px 38px;
  position: relative;
  display: block;
}
.k-tree-arr{
  width: 16px;
  height: 16px;
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  cursor: pointer;
  transition: transform .15s ease-out;
}
.k-tree-check{
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 18px;
  width: 12px;
  height: 12px;
  border: 1px solid #afafaf;
  border-radius: 2px;
  background: #fff;
  cursor: pointer;
  transition: background-color .15s ease-out;
}
.k-tree-default{
  color: #333;
}
.k-tree-default .k-tree-check{
  color: #444;
}
.k-tree-default .k-tree-arr{
  color: #555;
}
.k-tree-primary{
  color: #333;
}
.k-tree-primary .k-tree-check-active{
  border: 1px solid #20a0ff;
  background: #20a0ff;
}
.k-tree-primary .k-tree-check{
  color: #fff;
}
.k-tree-primary .k-tree-arr{
  color: #555;
}
.k-tree-check i {
  font-size: 10px;
  height: 12px;
  width: 12px;
  text-align: center;
  line-height: 12px;
  position: absolute;
  top: 1px;
}
.k-tree-close{
  transform: rotate(90deg);
}
.k-tree-no-check .k-tree-each{
  padding: 6px 0 6px 22px;
}
.k-tree-node-cursor{
  cursor: pointer;
}
